body {
	padding-top: 70px;
}
.container {
	max-width: 960px;
	padding: 30px;
	border-radius: 10px;
	border: 5px solid black;
	margin: auto;
}
.page-title {
	padding: 0;
	text-align: center;
}
hr {
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.header-section {
	padding: 0;
	text-align: center;
}
.progress-text-success {
	color: black;
	font-weight: bold;
}
ul {
	list-style: none;
}
.completed {
	padding: 0;
	margin: 5px;
}
a::after {
	content: url("../graphics/External Link-16.png"); /*Remember that the css is in another folder!*/
}
.top {
	margin: 5px;
	float: right;
}
.top a {
	color: white;
}
.between-sections {
	border-width: 5px;
	border-bottom: dashed;
	border-color: #777;
}
.inbetween-sections {
	border-width: 5px;
	border-bottom: dotted;
	border-color: #777;
}
small {
	color: #777;
}
li small::before {
	content: " Completed on: ";
	color: #777;
}
caption {
	text-align: center;
}
footer {
	text-align: center;
	color: white;
	background-color: black;
}
.resources {
	text-align: center;
}